.About {
    width: 70%;
    margin: 0 auto !important;
    float: none !important;

    .About-container {
        position: relative;
        text-align: justify;
        font-size: 18px;

        .About-header {
            text-align: center;

            .About-subheader {
                // text-align: center;
                font-size: 24px;
                // padding: 0 16px;
                background-color: rgb(234, 234, 235);
                // width: 560px;
                border-radius: 30px;
                box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
            }
        }

        

        h3 {
            font-size: 24px;
            color: rgba(0, 0, 0, 0.3);
            text-align: center;
        }
    }
}





/* Styling for mobile phones */

@media (max-width: 480px) {
    .About {
        width: 95%;
    }
}