.App {
  /* container mx-auto px-10 mb-8 */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 2.5rem;
  padding-right: 2.5rem; */
  /* margin-bottom: 2rem;  */
}
 
.Navigation {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  /* background-color: black; */
}
