.Blog-content {
    /* grid grid-cols-1 lg:grid-cols-12 gap-12 */
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 3rem;

    .Blog-posts {
        /* col-span-8 */
        grid-column: span 8 / span 8;
    }

    .Blog-recent {
        grid-column: span 4 / span 4;

        .Blog-recent-content {
            /* sticky relative top-8 */
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
            position: relative;
            /* top: 2rem; */
        }
    }
}



