.Blog {
    justify-content: center;
    text-align: center;

    .Blog-header {
        font-size: 24px;
        text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
        max-width: 50%;
        margin-bottom: 15px;
        display: inline-block;
        border-radius: 15px;
    }

    .Blog-content {
        // width:100%;
        // display: flex;
        // justify-content: center;
        // flex-wrap: wrap;
        // gap: 30px;
        // text-align: left;

        .Blog-posts {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            text-align: left;
        }
    }
}





/* Styling for mobile phones */

@media (max-width: 480px) {
    .Blog-header {
        font-size: 18px;
        text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
        max-width: 50%;
        margin-bottom: 15px;
        display: inline-block;
        border-radius: 15px;
        
        .Blog-posts {
            width: 95%;
        }
    }
}