.Books {
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
}

.Books-header {
  font-size: 24px;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);    max-width: 50%;
  margin-bottom: 15px;
  display: inline-block;
  border-radius: 15px;
}

.Books-cards {
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  text-align: left;
}

@media (max-width: 480px) {
  .Books {
    justify-content: center;
    text-align: center;
    width: 95%;
  }
}



