.BookCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    flex-wrap: wrap;
}

.BookCard-title {
    font-size: 24px;
    padding: 0 16px;
    background-color: rgb(234, 234, 235);
    width: 560px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.BookCard-content {
    display: flex;
    flex-direction: row;
    align-items: top;
    margin: 16px;
    max-width: 600px; 
}

.BookCard-image {
    flex: 1;
    margin-right: 16px;
}

.BookCard-image img {
    width: 250px;
    height: auto;
    border-radius: 15px;
    box-shadow:5px 10px 10px rgba(0, 0, 0, 0.5)
}

.BookCard-description {
    flex: 1;
    font-size: 20px;
}





/* Styling for mobile devices */
@media (max-width: 414px) {
    .BookCard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .BookCard-title {
        font-size: 24px;
        padding: 0 16px;
        background-color: rgb(234, 234, 235);
        max-width: 400px;
        text-align: center;
        border-radius: 30px;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    }

    .BookCard-content {
        display: flex;
        flex-direction: column;
        align-items: top;
        margin: 16px;
        max-width: 600px; 
        /* border-style: solid; */
    }

    .BookCard-image {
        flex: 1;
        margin-right: 16px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .BookCard-image img {
        width: 300px;
        height: auto;
        border-radius: 15px;
        box-shadow:5px 10px 10px rgba(0, 0, 0, 0.5);
    }
}