.Comments-container {
    /* bg-white shadow-lg rounded-lg p-8 pb-12 mb-8 */
    background-color: lightgray;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 32px;
    padding-bottom: 48px;
    margin-bottom: 32px;
}

.Comments-container-counter {
    /* text-xl mb-8 font-semibold border-b pb-4 */
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 32px;
    font-weight: 600;
    border-bottom-width: 1px;
    padding-bottom: 16px;
}

.Comments-container-content {
    /* border-b border-gray-100 mb-4 pb-4 */
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-color: #F3F4F6;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 16px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding-left: 8px;
}

.Comments-container-comment {
    /* whitespace-pre-line text-gray-600 w-full */
    white-space: pre-line;
    color: #4B5563;
    width: 100%;
    font-weight: 600;
    /* border: solid 1px black; */
}

.Comments-container-content-data {
    margin-bottom: 16px;
}

.comment-data {
    /* font-weight: 600; */
    font-weight: 400;
    color: #3B82F6;

}