.Contact {
    text-align: center;
    display: flex;
    justify-content: center;
}

.contact-container {

}

.thank-you {
    /* text-2xl */
    font-size: 24px;
    line-height: 32px;
}

.name-input {
    /* mb-3 pt-0 */
    margin-bottom: 12px;
    padding-top: 0;
    width: 75%;
}

.name-input-box {
    /* px-3 py-3 placeholder-gray-400 text-gray-600 relative bg-white bg white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full */
    padding-left: 12px;
    padding-right: 12px;
    color: #4B5563;
    position: relative;
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    border-width: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    outline: 0;
    width: 100%;
}

.name-input-box::placeholder {
    color: #9CA3AF;
}

.name-input-box:focus {
    outline: none;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.email-input {
    /* mb-3 pt-0 */
    margin-bottom: 12px;
    padding-top: 0;
}

.email-input-box {
    /* px-3 py-3 placeholder-gray-400 text-gray-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full */
    padding-left: 12px;
    padding-right: 12px;
    color: #4B5563;
    position: relative;
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    border-width: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    outline: 0;
    width: 100%;
}

.email-input-box::placeholder {
    color: #9CA3AF;
}

.email-input-box:focus {
    outline: none;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.subject-input {
    /* mb-3 pt-0 */
    margin-bottom: 12px;
    padding-top: 0;
}

.subject-input-box {
    /* px-3 py-3 placeholder-gray-400 text-gray-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full */
    padding-left: 12px;
    padding-right: 12px;
    color: #4B5563;
    position: relative;
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    border-width: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    outline: 0;
    width: 100%;
}

.subject-input-box::placeholder {
    color: #9CA3AF;
}

.subject-input-box:focus {
    outline: none;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.message-input {
    /* mb-3 pt-0 */
    margin-bottom: 12px;
    padding-top: 0;
}

.message-input-box {
    /* px-3 py-3 placeholder-gray-400 text-gray-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full */
    padding-left: 12px;
    padding-right: 12px;
    color: #4B5563;
    position: relative;
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    border-width: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    outline: 0;
    width: 100%;
}

.message-input-box::placeholder {
    color: #9CA3AF;
}

.message-input-box:focus {
    outline: none;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.submit {
    /* mb-3 pt-0 */
    margin-bottom: 12px;
    padding-top: 0;
}

.submit-button {
    /* bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 */
    background-color: #3B82F6;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    outline: 0;
    margin-right: 4px;
    margin-bottom: 4px;
    transition-timing-function: linear;
    transition-property: all;
    transition-duration: 150ms;
}

.submit-button:active {
    background-color: #2563EB;;
}

.submit-button:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.submit-button:focus {
    outline: 0;
}