.Contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 250px;
}

.Contact-header {
    font-size: 24px;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);    max-width: 50%;
    margin-bottom: 15px;
    display: inline-block;
    border-radius: 15px;
}

.Contact-container {
    
}

.name-input {
    margin-bottom: 12px;
    padding-top: 0;
}

.name-input-box {
    padding-left: 12px;
    padding-right: 12px;
    color: #4B5563;
    position: relative;
    background-color: white;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 14px;
    line-height: 20px;
    border-width: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    outline: 0;
    width: 700px;
}

.name-input-box &::-webkit-input-placeholder {
    color: #9CA3AF;
}

.name-input-box &::-webkit-input-focus {
    outline: none;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.email-input {
    margin-bottom: 12px;
    padding-top: 0;
}

.email-input-box {
    padding-left: 12px;
    padding-right: 12px;
    color: #4B5563;
    position: relative;
    background-color: white;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    border-width: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    outline: 0;
    width: 100%;
}

.email-input-box &::-webkit-input-placeholder {
    color: #9CA3AF;
}

.email-input-box &::-webkit-input-focus {
    outline: none;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.subject-input {
    margin-bottom: 12px;
    padding-top: 0;
}

.subject-input-box {
    padding-left: 12px;
    padding-right: 12px;
    color: #4B5563;
    position: relative;
    background-color: white;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    border-width: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    outline: 0;
    width: 100%;
}

.subject-input-box &::-webkit-input-placeholder {
    color: #9CA3AF;
}

.subject-input-box &::-webkit-input-focus {
    outline: none;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.message-input {
    margin-bottom: 12px;
    padding-top: 0;
}

.message-input-box {
    padding-left: 12px;
    padding-right: 12px;
    color: #4B5563;
    position: relative;
    background-color: white;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    border-width: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    outline: 0;
    width: 100%; 
}

.message-input-box &::-webkit-input-placeholder {
    color: #9CA3AF;
}

.message-input-box &::-webkit-input-focus {
    outline: none;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.submit {
    margin-bottom: 12px;
    padding-top: 0;
}

.submit-button {
    background-color: #3B82F6;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    outline: 0;
    margin-right: 4px;
    margin-bottom: 4px;
    transition-timing-function: linear;
    transition-property: all;
    transition-duration: 150ms;
}

.submit-button &:active {
    background-color: #2563EB;
}

.submit-button &:hover {
    color: black;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.submit-button &:focus {
    outline: 0;
}

.Contact-links-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Contact-links-icons img {
    height: 60px;
}

/* .thank-you {
    text-2xl
     font-size: 24px;
     line-height: 32px;
 } */;



 /* Styling for Mobile Devices */

 @media (max-width: 480px) {
    .name-input-box {
        padding-left: 12px;
        padding-right: 12px;
        color: #4B5563;
        position: relative;
        background-color: white;
        border-radius: 4px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        font-size: 14px;
        line-height: 20px;
        border-width: 0;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        outline: 0;
        width: 400px;
    }
 }