.Footer {
    color: white;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    position: sticky;
    bottom: 0;
}

.Footer-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-image img {
    height: 60px;
    display: block;
    margin: auto;
}

.Footer-newsletter {
    display: flex;
    gap: 20px;
}

.Footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-substack {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-substack img {
    height: 60px;
}

.Footer-linktree {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-linktree img {
    height: 60px;
}