.Footer {
    color: white;
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
}

.Footer-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.Footer-image img {
    height: 60px;
    display: block;
    margin: auto;
}

.Footer-newsletter {
    display: flex;
    gap: 20px;
}

.Footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-design {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-substack {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-substack img {
    height: 60px;
}

.Footer-linktree {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-linktree img {
    height: 60px;
}

.Footer-design-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-design-logo img {
    height: 60px;
}

.Footer-newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .Footer {
        display: flex;
        flex-direction: row;
    }

    .Footer-image img {
        height: 50px;
    }

    .Footer-substack {
        display: none;
    }
    
    .Footer-linktree {
        display: none;
    }
}

@media (max-width: 480px) {
    .Footer {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .Footer-image {}

    .Footer-image img {
        height: 50px;
    }

    .Footer-newsletter {
        display: none;
    }

    .Footer-copyright {
        margin-bottom: 50px;
        font-size: 12px;
    }
}