.Landing {
    width: 100%;

    .Landing-intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;

        .Landing-intro-name {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
            width: 300px;
            font-size: 36px;
            font-weight: 500;
            text-align: right;
        }

        .Landing-intro-image {
            height: 300px;
            width: 300px;
            
            img {
                height: 295px;
                width: 295px;
            }
        }
    }

    .Landing-description {
        text-align: center;
        font-size: 18px;
    }

    .Landing-minibio {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;

        .minibio-cover {
            width: 400px;
            text-align: center;

            img {
                height: 300px;
            }
        }

        .minibio-description {
            width: 400px;
            text-align: justify;
        }
    }
}