.Landing {
    width: 100%;    
}

.Landing-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.Landing-intro-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 300px;
    font-size: 26px;
    font-weight: 500;
    text-align: right;
}

.Landing-intro-image {
    height: 300px;
    width: 300px;
}
    
.Landing-intro-image img {
    height: 295px;
    /* width: 295px; */
}

.Landing-minibio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;  
}

.minibio-cover {
    width: 400px;
    text-align: center;
}

.minibio-cover img {
    height: 325px;
}

.minibio-description {
    width: 400px;
    text-align: justify;
}

.minibio-description-quote {
    font-size: 18px;
}



/* Styling for mobile phones */

@media (max-width: 480px) {
    .Landing {
        /* width: 100%; */
        max-width: 480px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Landing-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .Landing-intro-name {
        text-align: center;
        width: 75%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

    .Landing-intro-name-1 {
        justify-content: center;
        text-align: center;
    }

    .Landing-intro-name-2 {
        text-align: center;
    }

    .Landing-intro-image {
        height: 300px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .Landing-intro-image img {
        width: 300px;
        object-fit: cover;
    }

    .Landing-minibio {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;        
    }

    .minibio-cover {
        height: 300px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .minibio-cover img {
        width: 300px;
        object-fit: cover;
        /* display: block;
        margin-left: auto;
        margin-right: auto; */
    }
    
    .minibio-description {
        height: 300px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}