.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    /* padding: 8px 0; */
    margin-bottom: 16px;
    background-color: black;
    color: white;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.name {
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin-left: 16px;
}

.navigation-menu {
    margin-left: auto;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 16px;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 50%;
    background-color: #286b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger hover {
    background-color: #2642af;
}



@media screen and (max-width: 768px) {
    

    .hamburger {
        display: block;
    }

    .navigation-menu ul {
        display: none;
        position: absolute;
        top: 43px;
        right: 0;
        flex-direction: column;
        width: 140px;
        height: 340px;
        text-align: right;
        padding-right: 60px;
        background-color: black;
        border-top: 1px solid white;
        opacity: .5;
        z-index: 1;
    }

    .navigation-menu li {
        color: white;
        width: 100%;
        padding: 24px 0;
    }

    .navigation-menu li:hover {
        text-decoration: underline;
    }

    .navigation-menu.expanded ul {
        display: block;
    }
}


@media (max-width: 480px) {
    .navigation {
        width: 365px;
    }
}