.PostCard {
    /* bg-white shadow-lg rounded-lg p-0 lg:p-8 pb-12 mb-8 */
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    padding: 8;
    padding-bottom: 12px;
    margin-bottom: 8px;

    .PostCard-title {
        /* transition duration-700 text-center mb-8 cursor:pointer 
        hover::text-pink-600 text-3xl font-semibold */
        transition-duration: 300ms;
        text-align: center;
        margin-bottom: 8px;
        cursor: pointer;

        .PostCard-title:hover {
            text-decoration: underline;
            color: #2563EB;
            /* font-size: 1.875rem;
            line-height: 2.25rem; */
            font-weight: 600;
        }
    }

    .PostCard-author {
        /* block lg:flex text-center items-center justify-center mb-8 w-full */
        display: block;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        width: 100%;

        .PostCard-author-info {
            /* flex items-center justify-center mb-4 lg:mb-0 w-full lg:w-auto mr-8 */
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            width: auto;
            margin-right: 8px;

            .PostCard-author-image {
                /* align-middle rounded-full  */
                vertical-align: middle;
                border-radius: 9999px;
                align-items: center;
                height: 60px;
            }

            .PostCard-author-name {
                /* inline align-middle text-gray-700 ml-2 text-lg */
                display: inline;
                vertical-align: middle;
                color: #374151;
                margin-left: 2px;
                font-size: 1.125rem;
                line-height: 1.75rem; 
            }
        }

        .PostCard-date {
            /* font-medium text-gray-700 */
            color: #374151;
            font-weight: 500;

            .PostCard-date-icon {
                /* h-6 w-6 inline mr-2 text-pink-500 */
                height: 18px;
                width: 18px;
                display: inline;
                margin-right: 2px;
                color: #3B82F6;
            }
        }
    }

    .PostCard-excerpt {
        /* text-center text-lg text-gray-700 font-normal px-4 lg:px-20 mb-8 */
        text-align: center;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: #374151;
        font-weight: 400;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 8px; 
    }

    .PostCard-link {
        /* text-center */
        text-align: center;

        .PostCard-link-button {
            /* transition duration-500 transform hover:-translate-y-1 inline-block bg-blue-500 text-lg font-medium rounded-full text-white px-8 py-3 cursor-pointer */
            transition-duration: 300ms;
            display: inline-block;
            background-color: #3B82F6;
            font-size: 1.125rem;
            line-height: 1.75rem; 
            font-weight: 500;
            border-radius: 9999px;
            color: white;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 3px;
            padding-bottom: 3px;
            cursor: pointer;

            .PostCard-link-button:hover {
                /* --transform-translate-y: -0.25rem;  */
                text-decoration: underline;
                color: #38393a;
                font-weight: 600;
            }
        }
    }
}

// .PostCard-img-box {
//     /* relative overflow-hidden shadow-md pb-80 mb-6 */
//     position: relative;
//     overflow: hidden;
//     padding-bottom: 20rem;
//     margin-bottom: 2rem;
//     margin-left: 2rem;
//     margin-right: 2rem;
//     padding-top: 2rem;
//     /* box-shadow: 10px 10px 10px 0px #888888; */
// }

// .PostCard-img-content {
//     /* object-top absolute h-80 w-full object-cover  shadow-lg rounded-t-lg lg:rounded-lg*/
//     object-position: top;
//     position: absolute;
//     height: 20rem;
//     width: 100%;
//     object-fit: cover;
//     border-radius: 0.5rem;
// }



/* .PostCard-author-image img {
    height: 30px;
    width: auto;
} */









@media (max-width:640px) {
    .PostCard {
        padding: 0;
    }

    .PostCard-img-content {
        object-position: top;
        position: absolute;
        /* height: 80px; */
        width: full;
        object-fit: cover;
        box-shadow: 10px 10px 10px 0px #888888;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .PostCard-author {
        /* block lg:flex text-center items-center justify-center mb-8 w-full */
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        width: 100%;
    }
    
    .PostCard-author-info {
        /* flex items-center justify-center mb-4 lg:mb-0 w-full lg:w-auto mr-8 */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;
        width: 100%;
        margin-right: 8px;
    }

    .PostCard-excerpt {
        /* text-center text-lg text-gray-700 font-normal px-4 lg:px-20 mb-8 */
        text-align: center;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: #374151;
        font-weight: 400;
        padding-left: 4px;
        padding-right: 4px;
        margin-bottom: 8px; 
    }
}