.Press {
    width: 75%;
    margin: 0 auto !important;
    float: none !important;
}

.Press-header {
    text-align: center;
}

.Press-subheader {
    /* text-align: center; */
    font-size: 24px;
    /* padding: 0 16px; */
    background-color: rgb(234, 234, 235);
    /* width: 560px; */
    border-radius: 30px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.Press-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}